In [1]:
import pandas as pd
  
train_df = pd.read_csv('ratings.csv')
train_df.head()

       UserId:ItemId  Prediction   Timestamp
0  u0026762:i2171847           6  1362062307
1  u0026502:i0444778           8  1362062624
2  u0004598:i1411238           6  1362062838
3  u0031317:i1496422           7  1362063503
4  u0024257:i0118799           5  1362063653

In [2]:
test_df = pd.read_csv('targets.csv')
test_df.head()

       UserId:ItemId
0  u0000039:i0060196
1  u0000039:i0099077
2  u0000039:i0102926
3  u0000039:i0109830
4  u0000039:i0113277